.homepage {
    height: 100%;
    body {
        background: url('/resources/img/bg.jpg') no-repeat right bottom;
        background-size: cover;
    }
    .brand {
        color: $Silver;
        background-color: rgba(109, 92, 92, .25);
        padding: 10px 20px;
    }
}
.brand-slogan {
    font-size: 30px;
//    font-weight: 600;
    color: white;
    max-width: rem(625);
    padding-top: 20%;
    @include media($mobile){
        padding-top: 5%;
    }
    > span {
        border-bottom: 3px solid white;
    }
}