.homepage {
    height: 100%;
    body {
        background: url('/resources/img/bg.jpg') no-repeat right bottom;
        background-size: cover;
    }
    header {
        background-color: transparent;
    }
    .brand {
        a, a:link, a:visited {
            color: $Silver;
            background-color: rgba(109, 92, 92, .25);
        }
    }
    .nav {
        a, a:link, a:visited {
            color: white;
        }
    }
}
.brand-slogan {
    font-size: 30px;
    color: white;
    max-width: rem(625);
    padding-top: 20%;
    @include media($mobile){
        padding-top: 5%;
    }
    > span {
        border-bottom: 3px solid white;
    }
}