<header>
   <div class="container">
       <button type="button" class="nav-toggle" id="js-toggle-nav">Navigatie</button>
        <nav class="nav nav-collapse">
            <ul>
                <li><a href="/diensten.html">Diensten</a></li>
                <li><a href="/realisaties.html">Realisaties</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <!-- <li><a href="#" class="btn btn-light">Offerte aanvragen</a></li>  -->
            </ul>

        </nav>
        <h1 class="brand"><a href="/"><span>Delvaulx</span> Tuinen</a></h1>
   </div>
</header>