<header>
   <div class="container">
       <button type="button" class="nav-toggle" id="js-toggle-nav">Navigatie</button>
        <nav class="nav nav-collapse">
            <ul>
                <li><a href="#">Diensten</a></li>
                <li><a href="#">Realisaties</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" class="btn btn-light">Offerte aanvragen</a></li>  
            </ul>

        </nav>
        <h1 class="brand"><span>Delvaulx</span> Tuinen</h1>
   </div>
</header>
<!--
<script>var nav = responsiveNav(".nav-collapse");
</script>-->
