body {
    background-color: $c-HintofGreen;
    font-family: $fontFace-body;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    @include media($mobile) {
        font-size: 14px;
    }
}
@include selection {
  background-color: #c8e6c9;
}
// Typo
p {
    margin-top: em(12px);
    margin-bottom: em(12px);
}
.lead {
    color: $c-CodGray;
    font: 400 20px / 34px $fontFace-body;
    @include media($mobile) {
        font-size: 16px;
        line-height: 28px;
    }
}
// Helpers
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// Pages
.services .method {
    background-image: url('/resources/img/werkwijze.png'); 
    background-repeat: no-repeat; 
    background-position: right 0;
    background-size: contain;
    min-height: 320px;
}