.cards-container {
    @include outer-container();
    @include pad(0 $gutter);
    @include media($desktop-large){
        padding: 0;
    }
//    .row {
//        margin-bottom: $gutter;
//        @include media($smallScreens){
//            margin: 0;
//        }    
//    }
    .card {
        background-color: #ffffff;
        border-bottom: 2px solid #c9c7c7;
        @include clearfix;
        @include media($mobile){
            &:not(:last-child) {
                margin-bottom: $gutter;
            }
        }
        @include media($tabletOnly){
            @include span-columns(6);
            &:nth-child(2n){
                  margin-right: 0;
            }
            &:nth-child(2n):not(:last-child){
                margin-bottom: $gutter;
            }
        }
        @include media($desktop){
            @include span-columns(4);
            &:nth-child(3n+3){
                margin-right: 0;
            }
            &:nth-child(3n):not(:last-child){
                margin-bottom: $gutter;
            }
        }
        &-img, &-block {
            float: left;
        }
        &-img {
            width: 40%;
            max-width: 145px;
        }
        &-block {
            padding: 12px 15px;
            width: 60%;
            @include media($desktop-large){
                padding: 25px 30px;
            }
        }
        &-title {
            color: #00796b;
            font: 700 18px / 20px $fontFace-title;
            text-transform: uppercase;
            text-decoration: underline;
            margin: 0 0 5px 0;
            @include media($desktop-large){
                font-size: 18px;
                line-height: 20px;
                margin: 0;
            }
        }
        &-text {
            color: #727272;
            font: 400 16px / 24px $fontFace-body;
            margin: 0;
            @include media($smallScreens){
                font-size: 14px;
                line-height: 18px;
            }
        }
        a {
            display: block;
            @include clearfix;
        }
    }
}