.container {
    @include outer-container();
    @include pad(0 $gutter);
    @include media($desktop-large) {
        padding: 0;
    }
    &-s {
        @include outer-container($containerS);
        @include media($smallScreens) {
            @include pad(0 $gutter);
        }
    }
}

.row {
    @include row();
}

@include media($tablet) {
    .col-4 {
        @include span-columns(4);
    }
    .col-5 {
        @include span-columns(5);
    }
    .col-6 {
        @include span-columns(6);
    }
    .shift-1 {
        @include shift(1);
    }
}

.section {
    padding-top: $gutter;
    padding-bottom: $gutter;
    &-l {
        padding-top: $gutter;
        padding-bottom: $gutter;
        @include media($tablet) {
            padding-top: $gutter*2;
            padding-bottom: $gutter*2;
        }
    }
    &-highlight {
        background-color: $c-Zanah;
    }
}