// Bourbon neat
$mobile:         new-breakpoint(max-width 768px);
$tabletOnly:     new-breakpoint(min-width 768px max-width 996px);
$tablet:         new-breakpoint(min-width 768px);
$smallScreens:   new-breakpoint(max-width 996px);
$desktop:        new-breakpoint(min-width 996px);
$desktop-large:  new-breakpoint(min-width 1200px);

// Grid
$containerS:    730px;

// Font
$fontFace-body:    'Open Sans', sans-serif;
$fontFace-title:   'Montserrat', sans-serif;

// Colors
$c-CodGray:      #1a1a1a;
$c-MineShaft:    #2a2a2a;
$c-Silver:       #cbcbcb;
$c-Celery:       #9FC54E;
$c-Zanah:        #C8E6C9; 
$c-HintofGreen:  #f3fff4;