$border-box-sizing: true !global;
$OpenSans: 'Open Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


body {
    background-color: #f3fff4;
}
.brand {
    float: left;
    margin: 0;
    font-family: $Montserrat;
    font-size: 20px;
    font-weight: 700;
}
