input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme(black, autofillBg) inset;
    color: white;
    -webkit-text-fill-color: color(whitisch);
}
.form {
    padding: 1.5rem 0;
    &-input {
        padding: 8px 0 7px;// 4px 0 8px;
        border: 0;
        border-bottom: 2px solid;
        border-color: theme(black, inputBorderColor);
        color: color(whitisch);
        background-color: transparent;
        outline: 0;
        width: 100%;
        // font-weight: 600;
        &:focus ~ .focus-border,
        &:valid ~ .focus-border {
            width: 100%;
            transition: 0.4s;
        }
        &:focus ~ [class^="icon-"], &:focus ~ [class*=" icon-"] ,
        &:valid ~ [class^="icon-"], &:valid ~ [class*=" icon-"] {
            color: theme(black, iconFocusColor);
        }

        &:focus ~ label,
        &:valid ~ label {
            top: -14px;
            font-size: 11px;
            transition: 0.3s;
        }
        // &:focus:invalid ~ label {
        //   color: color(error);
        // }


        ~ .focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: theme(black, focusBorder);
            transition: 0.4s;
        }

        ~ label {
            position: absolute;
            left: 0;
            width: 100%;
            top: 9px;
            transition: 0.3s;
            letter-spacing: 0.5px;
            color: theme(black, labelColor);
        }
    }

    &-textarea {
        width: 100%;
        min-height: 100px;
        border-radius: $border-radius-base;
        border: 0;
        outline: 0;
        margin-top: calculateRem(7px);
        padding: 5px;
        background-color: theme(black, bgTextarea);
        color: color(whitisch);
        transition: background-color .3s ease-in;
        &:focus {
          background-color: theme(black, bgTextareaFocus)
        }
    }

    &-section {
      padding: 1.5rem $sidebarPadding;
      border-bottom: 2px solid theme(black, formSectionBorder);
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
        padding-top: 3rem;
      }
      // &:nth-child(even) {
      //   background: #673C5C;
      // }
      > .form-group + .form-group {
        margin-top: calculateRem(10px);
      }
    }
    &-group {
        position: relative;
        [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            right: 10px;
            top: 9px;
            transition: 1.4s;
            color: theme(black, iconColor);
            font-size: 1.3rem;
        }

        &-label {
            // @include fontSize(16px);
            margin-top: 0;
            margin-bottom: calculateRem(7px);
        }

        [class^="alert-"] {
          background-color: theme(black, alertBg);
        }

        // [class^="alert-"] {
        //     background-color: color(trendyPinkDark);
        //     padding: 15px 30px;
        //     margin: 20px 0 0 0;
        //     border-radius: $border-radius-base;
        //
        // }
    }

    &-label {
        display: block;
    }

    &-title {
        margin: 0;
        line-height: 1;
        text-transform: uppercase;

        & + p {
            margin-top: 0.8rem;
            margin-bottom: 0;
        }
    }

    &-hr {
        border: 0;
        height: calculateRem(2px);
        background-color: color(black);
    }
}
.input-txt-group {
  .form-group {
      margin-bottom: calculateRem(16px);
  }
}
// custom radio
input[type="radio"].radiobtn {
    // display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    & + label {
      margin: 0;
      padding: 0;
      width: 100%;
        &:before {
            @extend %icomoon;
            content: $icon-radio-unchecked;
            margin: 0 5px 0 0;
            font-size: calculateRem(20px);
            position: relative;
            top: 3px;
            // transition: all 5s linear;
        }
    }
    &:checked + label {
        &:before {
            content: $icon-radio-checked;
        }
    }
}

// Switch
.switch {
    position: absolute;
  	height: 0;
  	width: 0;
  	visibility: hidden;
    & + label {
    	cursor: pointer;
    	text-indent: -9999px;
      @include size(60px, 30px);
    	background: theme(black, switchColorDisabled);
    	display: inline-block;
    	border-radius: 100px;
    	position: relative;
      transition: background 0.3s ease-in;
      &:after {
      	content: '';
      	position: absolute;
      	top: 5px;
      	left: 5px;
        @include square(20px);
      	background: theme(black, switchColorBullet);
      	border-radius: 90px;
      	transition: 0.3s;
      }
    }

    &:checked + label {
    	background: theme(black, switchColorEnabled);
      margin-bottom: 15px;
    }

    &:checked + label:after {
    	left: calc(100% - 5px);
    	transform: translateX(-100%);
    }

    & + label:active:after {
    	width: 40px;
    }
}



[class^="alert-"] {
    padding: 0 1.5rem;
    margin: $gutter 0;
    h4 {
      font-size: 1.5rem;
    }
    img {
        margin-top: 20px;
    }
}


// .alert {
//     &-valid {
//       border-color: color(valid);
//     }
//
//     &-invalid {
//       border-color: color(error);
//     }
// }

// .has-error {
//     color: color(error);
//     // border-color: color(error);
// }
