// @charset "UTF-8";
// // Styling Cross-Browser Compatible Range Inputs with Sass
// // Github: https://github.com/darlanrod/input-range-sass
// // Author: Darlan Rod https://github.com/darlanrod
// // Version 1.4.1
// // MIT License

$track-color: transparent;
$thumb-color: transparent;

$thumb-radius: 4px;
$thumb-height: 30px;
$thumb-width: 60px;
$thumb-widthMobile: 50px;

$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: transparent;
$thumb-border-width: 0;
$thumb-border-color: transparent;

$track-width: 100%;
$track-height: 8px;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: transparent;
$track-border-width: 0 !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  // @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;
  background: transparent;
  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    // @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    // margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    // @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    // @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    // @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
  &::-ms-tooltip {
    display: none;
  }

}
// Slider
.slider {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: 100;
}
.slidershell {
    border: 0 none;
    position: relative;
    left: 0;
    top: 0;
    overflow: visible;
}
.slidertrack {
    position: absolute;
    border: 2px solid;
    border-radius: 4px;
}
.sliderfill {
    border: 0;
    border-radius: $border-radius-base;
    position: absolute;
    pointer-events: none;
    background: color(black);
}
.sliderthumb {
    // width: 40px;
    // height: 40px;
    border-radius: $border-radius-base;
    // @include square($thumb-width);
    @include size($thumb-width, $thumb-height);
    line-height: $thumb-height;

    @include breakpoint(max-width $screen-sm) {
      @include square($thumb-widthMobile);
      line-height: $thumb-widthMobile;
    }
    background-color: color(black);
    position: absolute;
    left: 0;
    top: 0;
    border: 0 none;
    padding: 0;
    margin: 0;
    text-align: center;
    pointer-events: none;
}
.slidervalue {
    // width: 40px;
    // height: 40px;
    // line-height: 40px;
    @include fontSize(13px);
    // @include square($thumb-width);
    @include size($thumb-width, $thumb-height);
    line-height: $thumb-height;
    @include breakpoint(max-width $screen-sm) {
      @include square($thumb-widthMobile);
      line-height: $thumb-widthMobile;
    }
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border: 0 none;
    padding: 0;
    margin: 0;
    text-align: center;
    pointer-events: none;
    // &::first-letter {
    //   font-weight: 400;
    // }
}
