@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?6iyauk') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?6iyauk') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?6iyauk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
%icomoon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}
.icon-enlarge {
  &:before {
    content: unicode($icon-enlarge);
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}
.icon-plus {
  &:before {
    content: unicode($icon-plus);
  }
}
.icon-office {
  &:before {
    content: unicode($icon-office);
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone);
  }
}
.icon-envelop {
  &:before {
    content: unicode($icon-envelop);
  }
}
.icon-location {
  &:before {
    content: unicode($icon-location);
  }
}
.icon-user {
  &:before {
    content: unicode($icon-user);
  }
}
.icon-briefcase {
  &:before {
    content: unicode($icon-briefcase);
  }
}
.icon-cross {
  &:before {
    content: unicode($icon-cross);
  }
}
.icon-checkmark {
  &:before {
    content: unicode($icon-checkmark);
  }
}
.icon-checkbox-checked {
  &:before {
    content: unicode($icon-checkbox-checked);
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: unicode($icon-checkbox-unchecked);
  }
}
.icon-radio-checked {
  &:before {
    content: unicode($icon-radio-checked);
  }
}
.icon-radio-unchecked {
  &:before {
    content: unicode($icon-radio-unchecked);
  }
}
