html {
    box-sizing: border-box;
    @include breakpoint(max-width 350px) {
      font-size: 12px;
    }
}

* {
    &,
    &:after,
    &:before {
        box-sizing: inherit;
    }
}

body {
    background-color: color(body-bg);
    color: color(text);
}
// Brand

.brand {
    @include fontSize(16px);
    line-height: 1;
    display: inline-block;
    margin: $gutter/1.5 0;
    #{$a-tag} {
        display: inline-block;
        font-family: $font-family-serif;
        font-weight: 700;
        @include fontSize(16px);
        text-decoration: none;
        text-transform: uppercase;
        color: color(gray);
        transition: background ease-in 485ms;

        span:first-child {
            color: color(green);
        }

        #{$hoverstate} {
            background: transparent;
            transition: background ease-in 285ms;
        }
    }
}
// Grid

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    @include clearfix();
    @include breakpoint($screen-md) {
        max-width: calculateRem(960px);
    }
    @include breakpoint($screen-lg) {
        max-width: calculateRem(1140px);
        padding: 0 20px;
    }
}

.section {
    background-color: color(text-bg);
    padding-top: $gutter;
    padding-bottom: $gutter;
    @include fontSize(20px);
    line-height: 1.6;
    @include breakpoint($screen-lg) {
        >.container {
            max-width: 750px;
        }
    }
    &.bg-darker {
        background-color: #c8e6c9;
        border-top: 1px solid darken(#c8e6c9, 7%);
        border-bottom: 1px solid darken(#c8e6c9, 7%);
    }
    .list-horizontal {
        margin: 0;
    }
}
// .text {
//     @include fontSize(20px);
//     line-height: 1.6;
//
// }
// Typography
.lead {
    color: white;
    font-weight: 700;
    @include fontSize(23px);
    line-height: 1.4;
    margin: calculateRem(80px) 0 calculateRem(30px);
    @include breakpoint($screen-sm) {
        // @include fontSize(30px);
        // line-height: calculateRem(40px);
        font-size: 2.3rem;
        line-height: 2.8rem;
        margin: calculateRem(175px) 0 calculateRem(60px);
        // max-width: calculateRem(650px);
        max-width: calculateRem(840px);
    }
}

.ctas {
  @include breakpoint($screen-sm) {
    display: inline-block;
    min-width: 310px;
    margin-left: 20px;
  }
  a:link, a:visited {
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-top: 10px;

    @include breakpoint($screen-sm) {
      position: relative;
      margin-top: 0;
    }
    &:before {
      @extend %icomoon;
      padding-right: 7px;
  }
  // #{$hoverstate} {
  //   &:before {
  //
  //   }
  // }
}
}
.callme {
  color: white;
  font-weight: 600;
  text-decoration: none;
  top: 10px;
  &:before {
    content: $icon-phone;
  }
}
.mailme {
  top: 14px;
  &:before {
    content: $icon-envelop;
  }
}
// .btn-primary + p.callme {
//   width: 278px;
//   text-align: center;
// }
.btn-primary + .callme {
  padding-left: 0;
  margin-top: calculateRem(20px);
  margin-bottom: calculateRem(20px);
  display: block;
  text-align: center;
  @include breakpoint($screen-sm) {
    margin: 0;
    padding-left: 15px;
    text-align: left;
    display: inline-block;
  }
}
#home {
    .footer {
      display: none;
      position: absolute;
      bottom: 15px;
      width: 100%;
      .callme {
        &:before {
          @extend %icomoon;
          padding-right: 7px;
        }
        display: block;
        text-align: right;
        padding-right: $gutter;
      }
    }
}
.sidebar-open  {
  .footer {
    display: block;
  }
}
// Buttons
.btn-primary {
    @include button-variant(#fff, #fff, #fff)
    @include BgHexRgba(#fff, .25);
}

.btn-secondary {
    @include button-variant(color(black), transparent, color(black))
}

.btn-fake {
    display: inline-block;
    padding: 7px 30px;
    border: 2px solid #c8e6c9;
    border-radius: $border-radius-small;
    color: color(text);
    @include fontSize(16px);
    margin: calculateRem(20px) 0 calculateRem(10px) 0;
}

.btn-block {
    width: 100%;
}
a[href^="mailto"] {
    color: color(text);
    text-decoration: none;
    // &:hover:after {
    //     content: attr(title);
    // }

}
// Lists
.list-horizontal {
    list-style: none;
    padding-left: 0;
    text-align: center;
    > li {
        margin: 0 $gutter/2;
        @include breakpoint($screen-sm) {
            display: inline-block;

        }
    }

}
// Hero
.hero {
    background: url(../img/hero.jpg) no-repeat 50% 0;
    background-size: cover;
    height: 513px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
        font-family: $font-family-serif;
        @include fontSize(60px);
        text-transform: uppercase;
        text-shadow: 0 0 3px rgba(18, 18, 18, 0.35);
        color: white;
        border-bottom: 4px solid;
        padding-bottom: 12px;
    }
}
.hero-footer {
    background: url(../img/hero.jpg) no-repeat 50% 0;
    background-size: cover;
    height: 40vh;
    @include breakpoint($screen-lg) {
        height: 760px;
    }
}
// categories
.cat {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    &:after {
      display: block;
      content: " invisible node "
      flex(999 999 auto)
    }
    // &-filter {
        // .cat-item {
        //     @include breakpoint($screen-md) {
        //         width: 20%;
        //     }
        // }
    //     // .cat-item {
    //     //     display: none;
    //     // }
    //     .show {
    //         display: block;
    //     }
    // }
    &-item-media {
        height: 173px;
        overflow: hidden;
        &:hover {
            &:before {
                @extend %icomoon;
                content: unicode($icon-enlarge);
                @include fontSize(40px);
                // @include vertical-align(absolute);
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 55px;
                color: color(text-bg);
                text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
                transform: scale(1);
                transition: transform .1s linear;
                z-index: 999;
            }
        }

    }
    &-item {
        background: white;
        text-decoration: none;
        border-bottom: 2px solid #c9c7c7;
        position: relative;
        width: 90%;
        flex: 0 0 auto;
        margin: $gutter/2;
        padding: calculateRem(12px);
        @include breakpoint($screen-md) {
            width: 45%;
        }
        @include breakpoint($screen-lg) {
            width: 30%;
        }
        &:before {
            content: ' ';
            transform: scale(0);
            // height: 40px;
        }
        &:hover {
            text-decoration: none;
            .cat-title {
                text-decoration: none;
            }
        }
    }
    &-title {
        margin: calculateRem(10px) 0 calculateRem(5px) 0;
        color: #00796b;
        text-transform: uppercase;
        text-decoration: underline;
        @include fontSize(18px);
    }
    &-text {
        margin: 0;
        color: #727272;
        @include fontSize(16px);
    }
    &-media {
        position: absolute;
        left: 0;
        top: 0;
        & ~ * {
            padding-left: 150px;
        }
    }
}




// Pages
body {
    &#home {
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        .brand {
            margin: 0;
            #{$a-tag} {
                padding: 20px;
                @include BgHexRgba(color(brown), 0.25);
            }
        }
    }
}
// contact.html
#contact {
    height: 100%;

    body {
        background-color: #3b3f45;
    }

    .container,
    body {
        height: 100%;
    }
}
