// Colors
$colors:(
  text:       #121212,
  black:      #32192B,
  gray:       #cbcbcb,
  lightGray:  #eaeaea,
  darkGray:   darken(#cbcbcb, 20%),
  green:      #9fc54e,
  brown:      #6d5c5c,
  whitish:    #f0f1ed,
  body-bg:    #ffffff,
  text-bg:    #f3fff4,
  error:      red,
  trendyPink: #8B5D90,
  trendyPinkDark: #7e5583,
  voodoo:    #644268,
  // green fell
  emerald: #2ecc71,
  nephritis: #27ae60,
  greenpea: #276541,

  // Green dull
  palmLeaf: #84A441,
  dollarBill: #748f3c,
  androidGreen: #9FC54E,

  // black
  bastille: #1E181F,
  accent: #332a35,
  // accent: #644268,
  whitisch: #dbd9d9,

);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
// Fonts
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "Montserrat", Georgia, serif;

// Link
$link-color:            color(green);
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;
$a-tag:                'a:link, a:visited'; // #{$a-tag}
$hoverstate:            '&:active, &:hover, &:focus'; // #{$hoverstate}

$border-radius-base:        4px;
$border-radius-large:       10px !default;
$border-radius-small:       4px !default;

// Paddings
$gutter:   2rem;

$padding-base-vertical:     10px;
$padding-base-horizontal:   16px;

$padding-large-vertical:    12px;
$padding-large-horizontal:  16px;

// Media queries
$screen-sm:  600px;
$screen-md:  960px;
$screen-lg:  1200px;

// Sidebar
$sidebarWidth:  440px;
$sidebarPadding: 2.5rem;
$animationSpeed:  325ms;

// fonticon
$icomoon-font-path: "../fonts";
$icon-search: \e986;
$icon-plus: \ea0a;
$icon-office: \e903;
$icon-phone: \e942;
$icon-envelop: \e945;
$icon-location: \e947;
$icon-user: \e971;
$icon-briefcase: \e9ae;
$icon-cross: \ea0f;
$icon-checkmark: \ea10;
$icon-checkbox-checked: \ea52;
$icon-checkbox-unchecked: \ea53;
$icon-radio-checked: \ea55;
$icon-radio-unchecked: \ea56;
$icon-enlarge: \e98b;

// Form elements
// $form: (
//   background: color(body-bg),
//   label-color: color(black),
//   label-color-focus: color(darkGray),
//   error-color: color(error),
//   placeholder-color: color(gray),
//   success-color: #5C832F,
//   padding: 8px 0,
//   border: 1px solid color(lightGray),
//   border-bottom: 1px solid color(gray),
//   radius: $border-radius-base
// );
// @function form($key) {
//   @return map-get($form, $key);
// }
// sidebar theming
$sidebar: (
  light: (
    bg: #f5e6ff,
    bgTextarea: rgba(101, 67, 105, 0.05),
    inputBorderColor: color(black),
    focusBorder: color(voodoo),
    labelColor: color(black),
    iconColor: color(black),
    iconFocusColor: color(voodoo)
  ),
  dark: (
    // bg: color(voodoo),
    bg: color(trendyPink),
    bgTextarea: color(trendyPinkDark), //color(voodoo)
    inputBorderColor: color(voodoo),
    focusBorder: color(black),
    labelColor: color(black),
    iconColor: color(voodoo),
    iconFocusColor: color(black)
  ),
  green: (
    // bg: color(voodoo),
    bg: color(emerald),
    formSectionBorder: color(nephritis),
    autofillBg: color(emerald),
    alertBg: color(nephritis),
    bgTextarea: color(nephritis),
    bgTextareaFocus: #32c871,
    inputBorderColor: color(nephritis),
    focusBorder: color(greenpea),
    labelColor: color(text),
    iconColor: color(nephritis),
    iconFocusColor: color(greenpea),
    sliderfill: color(greenpea),
    sliderthumb: color(nephritis),
    sliderthumbBorder: color(greenpea),
    slidervalue: color(text),
    slidertrackBorder: color(greenpea),
    slidertrackBg: transparent,
    switchColorDisabled: color(greenpea),
    switchColorEnabled: color(nephritis),
    switchColorBullet: color(emerald),
  ),
  crazy: (
    // bg: color(voodoo),
    bg: color(palmLeaf),
    formSectionBorder: color(dollarBill),
    autofillBg: color(palmLeaf),
    alertBg: color(dollarBill),
    bgTextarea: color(dollarBill),
    bgTextareaFocus: lighten(color(dollarBill), 4%),
    inputBorderColor: color(dollarBill),
    focusBorder: darken(color(dollarBill), 10%),
    labelColor: color(text),
    iconColor: color(dollarBill),
    iconFocusColor: darken(color(dollarBill), 10%),
    sliderfill: darken(color(dollarBill), 10%),
    sliderthumb: color(dollarBill),
    sliderthumbBorder: darken(color(dollarBill), 10%),
    slidervalue: color(text),
    slidertrackBorder: darken(color(dollarBill), 10%),
    slidertrackBg: transparent,
    switchColorDisabled: darken(color(dollarBill), 10%),
    switchColorEnabled: color(dollarBill),
    switchColorBullet: color(palmLeaf),
  ),
  black: (
    // bg: color(voodoo),
    bg: color(bastille),
    // formSectionBorder: lighten(color(bastille), 5%),
    formSectionBorder: color(accent),
    autofillBg: color(bastille),

    alertBg: color(accent),

    bgTextarea: color(accent),
    bgTextareaFocus: color(bastille),//lighten(color(accent), 4%),

    inputBorderColor: color(accent),
    focusBorder: color(whitisch),
    labelColor: color(whitisch),
    iconColor: color(accent),
    iconFocusColor: color(whitisch),

    sliderfill: color(whitisch),
    sliderthumb: color(accent),
    sliderthumbBorder: color(whitisch),
    slidervalue: color(whitisch),
    slidertrackBorder: color(whitisch),
    slidertrackBg: transparent,

    switchColorDisabled: darken(color(accent), 10%),
    switchColorEnabled: color(accent),
    switchColorBullet: color(whitisch)
  )
);
@function theme($theme, $theme-prop) {
  @return map-get(map-get($sidebar, $theme), $theme-prop);
}

// @function sidebartheme($theme, $theme-prop) {
//   // map inception
//   @return map-get(map-get($sidebar, $theme), $theme-prop);
// }
