// sidebar
.sidebar {
  background-color: theme(dark, bg);
  .btn-secondary {
    &:focus, &.focus, &:hover, &:active {
      background-color: transparent;
    }
  }
}
// form elements
.form {
  &-input {
    border-color: theme(dark, inputBorderColor);
    &:focus ~ [class^="icon-"], &:focus ~ [class*=" icon-"] ,
    &:valid ~ [class^="icon-"], &:valid ~ [class*=" icon-"] {
        color: theme(dark, iconFocusColor);
    }
    ~ label {
      color: theme(dark, labelColor);

    }
    ~ .focus-border {
      background-color: theme(dark, focusBorder);
    }
  }
  &-textarea {
    background-color: theme(dark, bgTextarea);
  }
  &-group {
      [class^="icon-"], [class*=" icon-"] {
          color: theme(dark, iconColor);
      }
    }
}
