.hidden {
  display: none;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;

  border-radius: $border-radius-base;
}


#company-name {
    margin-top: calculateRem(30px);
    animation-duration: 0.2s;
    animation-name: slideInDown;
}

body {
  @include animate(fadeIn, 2s);
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
