.hidden {
  display: none;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;

  border-radius: $border-radius-base;
}


#company-name {
    margin-top: calculateRem(30px);
    animation-duration: 0.2s;
    animation-name: slideInDown;
}

body {
  @include animate(fadeIn, 2s);
}
