// sidebar

.sidebar {
  // #7e5583;
  // rgba(125, 197, 204, 0.17);
  // linear-gradient(to bottom, #e96443, #904e95);
  
  // // background-color: color(trendyPink);
  // background-color: #f5e6ff;
  background-color: theme(light, bg);
}
// form elements
.form {
  &-input {
    border-color: theme(light, inputBorderColor);
    &:focus ~ [class^="icon-"], &:focus ~ [class*=" icon-"] ,
    &:valid ~ [class^="icon-"], &:valid ~ [class*=" icon-"] {
        color: theme(light, iconFocusColor);
    }
    ~ label {
      color: theme(light, labelColor);
    }
    ~ .focus-border {
      background-color: theme(light, focusBorder);
    }
  }
  &-textarea {
    background-color: theme(light, bgTextarea);
  }
  &-group {
      [class^="icon-"], [class*=" icon-"] {
          color: theme(light, iconColor);
      }
    }
}
